body {
    background: url("/wp-content/themes/missaocalebe/images/body.jpg") repeat-x scroll center bottom #fceeda;
}

a, a:visited {
    color: #543407;
    text-decoration: underline;
}

.direita {
	float: right;
}

.esquerda {
	float: left;
}

#wrap {
    background: url("/wp-content/themes/missaocalebe/images/fundo2.jpg") repeat-x;
}

#nav li a, #nav li.right a {
	color: #e7ccab;
	text-shadow: 0 0 4px #000;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

#nav li a:hover, #nav li a:active, #nav .current_page_item a, #nav .current-cat a, #nav .current-menu-item a, #nav li.right a:hover {
	color: #fff;
	
}

#nav li.twitter a {
    padding: 4px 0 5px 40px;
    background-position:0 0;
}

#nav li.twitter a:hover {
    background-position:0 -27px;
}

#nav li li a, #nav li li a:link, #nav li li a:visited {
    background: none repeat scroll 0 0 #342004;
    border-color: #342004;
    border-right: 1px solid #342004;
    border-bottom: 1px solid #000;
    color: #e7ccab;
}

#nav li li a:hover, #nav li li a:active {
    background-color: #543407;
    border-right: 1px solid #543407;
    color: #fff;
}

#nav li.right {
	float: right;
	padding: 13px 20px;
}

.header-image #title-area {
	background: url(images/logo.png) no-repeat top left;
	margin-top: 20px;
}

.header-image #title-area, .header-image #title, .header-image #title a {
    height: 100px;
}

#header .searchform {
    padding: 0;
    background: url(images/busca.png) no-repeat top left;
    height: 36px;
    width: 282px;
    margin-top: 10px;
}

.home-bottom {
    margin: 15px 0 0;
}

.s {
	border: none;
    border-radius: 0;
    background: transparent;
    font-size: 18px;
    width: 225px;
    margin: 2px 0 0 3px;
    color: #543407;
}

div.gform_footer input.button, .enews #subbutton, .searchsubmit, #submit {
    background: transparent ;
    border: none;
	border-radius: 0;
	margin-left: 5px;
	height: 30px;
	width: 30px;
}

div.gform_footer input.button:hover, .enews #subbutton:hover, .searchsubmit:hover, #submit:hover {
    background: transparent ;
    border: none;
}

#inner .wrap {
    border-bottom: 5px solid #f6d8ad;
    border-radius: 5px 5px 0 0;
}

.featured {
    height: 300px;
    margin: 0 auto 10px;
    padding: 0 0 10px;
    width: 910px;
    background: url("/wp-content/themes/missaocalebe/images/bg_banners.png") center bottom no-repeat;
}

.home-middle {
	background: url("/wp-content/themes/missaocalebe/images/bg_banners2.png") center bottom no-repeat;
	margin: 10px auto;
	padding: 0;
}
.home-middle-1 {
    float: left;
    margin: 0 5px 0 0;
    width: 220px;;
}

.home-middle-2 {
    float: left;
    margin: 0 5px;
    width: 220px;
}

.home-middle-3 {
    float: left;
    margin: 0 5px;
    width: 220px;
}

.home-middle-4 {
    float: left;
    margin: 0 0 0 5px;
    width: 220px;
}

.home-bottom-1 {
    float: left;
    width: 265px;
    margin: 0 5px 0 0;
}

.home-bottom-2 {
    float: left;
    width: 265px;
    margin: 0 10px;
}

.home-bottom-3 {
    float: left;
    width: 350px;
    margin: 0 0 0 5px;
}

#footer {
    padding: 30px 0;
}

#footer .wrap {
	font-size: 11px;
}

#footer .texto {
	margin-top: 20px;
	color: #3b2405;
}

.home h2 a, .widget-area h2 a {
    font-size: 14px;
    line-height: 16px;
}

.breadcrumb, .breadcrumb a {
    background-color: #fffaf4;
    border-radius: 3px;
    font-size: 11px;
    color: #97794e;
    margin: 0 0 15px;
}

.post-meta, .post-meta a, .post-meta a:visited {
	border-top: none;
	border-top: 1px dotted #FCEEDA;
    padding: 5px 0;
    font-size: 11px;
    color: #97794E;
}

.post-meta a, .post-meta a:visited {
   border: none; 
   text-decoration: none;
}

.post-meta a:hover {
   text-decoration: underline;
}


h1, h2, h2 a, h2 a:visited {
    color: #543407;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 29px;
    line-height: 36px;
    margin-top: 20px;
}

.home-bottom-1 h4, .home-bottom-2 h4, .home-bottom-3 h4 {
    margin: 0 0 15px;
}

.home-bottom h4, .home-middle h4{
    font-size: 12px;
	text-transform: uppercase;  
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	padding: 0 0 0 10px;
	height: 20px;
}


.home-bottom-1 h4, .home-middle-1 h4 {
    border-left: 3px solid #f8ead6;
	background:  #fff9f2;
	color: #ccab93;
}

.home-bottom-2 h4, .home-middle-2 h4 {
    border-left: 3px solid #d0eed2;
	background:  #f4fff5;
	color: #a1bea3;
}

.home-bottom-3 h4, .home-middle-3 h4 {
    border-left: 3px solid #e7eaff;
	background:  #fafaff;
	color: #b6bad3;
}


.home-bottom-1 .featuredpost .post {
    border-bottom: 1px solid #f8ead6;
}

.home-bottom-2 .featuredpost .post {
    border-bottom: 1px solid #dbf8dd;
}

.home-bottom-3 .featuredpost .post {
    border-bottom: 1px solid #e7eaff;
}

.home h2 a, .widget-area h2 a {
    font-size: 13px;
    padding: 0 30px 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.home-bottom-1 .featuredpost h2 a, .home-bottom-1 .featuredpost h2 a:visited {
    color: #976a49;
}

.home-bottom-1 .featuredpost h2 a:hover {
    color: #543407;
}

.home-bottom-2 .featuredpost h2 a {
    color: #5d9749;
}

.home-bottom-2 .featuredpost h2 a:hover {
    color: #25692a;
}


.entry-content {
    margin: 15px 0;
    border-bottom: 1px dotted #F8EAD6;
}

.entry-content p, .entry-content li  {
    line-height: 22px;
    font-size: 12px;
    color: #543407;
}

.wp-caption {
    background-color: #faf7f4;
    border-radius: 3px;
    border: 1px solid #f4efe9;
}

p.wp-caption-text {
    line-height: 16px;
    font-size: 11px;
    padding: 0 10px;
    color: #a69480;
}

.more-from-category a, .more-from-category a:visited {
	font-size: 9px;
	text-transform: uppercase;
	text-decoration: none;
	width: auto;
	padding: 3px 5px 3px 12px;
	font-family: 'Trebuchet MS',Helvetica,sans-serif;
}

.home-bottom-1 .more-from-category a, .home-bottom-1 .more-from-category a:visited {
	border-left: 3px solid #f8ead6;
	background:  #fff9f2;
	color: #ccab9a;
}

.home-bottom-1 .more-from-category a:hover {
	background: #fbf1e6;
	color: #a8816d;
	border-left: 3px solid #e5d4bc;
}

.home-bottom-2 .more-from-category a, .home-bottom-2 .more-from-category a:visited {
	border-left: 3px solid #d0eed2;
	background:  #f4fff5;
	color: #a1bead;
}

.home-bottom-2 .more-from-category a:hover {
	background: #e3f8e5;
	color: #87ad8a;
	border-left: 3px solid #accaae;
}

.home-bottom-3 .more-from-category a, .home-bottom-3 .more-from-category a:visited {
	border-left: 3px solid #d7dbf1;
	background:  #fafaff;
	color: #b6bad3;
}

.home-bottom-3 .more-from-category a:hover {
	background: #f3f3fb;
	color: #a2abcb;
	border-left: 3px solid #d9dced;
}

.post-info, .post-info a {
    color: #97794E;
    font-size: 11px;
    border-top: 1px solid #FCEEDA;
    margin: 15px 0 5px;
}

h1, h2, h3, h4, h5, h6 {
    color: #543407;
    font-family: 'Trebuchet MS',Helvetica,sans-serif;
}

.sidebar, .sidebar a, .siderbar p {
	background-color: #fffcf9;
    color: #543407 !important;
    border-left: 1px dotted #F8EAD6;
    border-radius: 0;
}

.avatar, .post-image {
    background-color: #FFFAF4;
    border: 1px solid #FCEEDA;
}

.widget-area h4 {
    color: #FFFFFF;
    padding: 0 0 0 10px;
    background: none repeat scroll 0 0 #fff4e7;
    border-left: 3px solid #CCAB93;
    color: #CCAB93;
    border-radius: 0;
    font-family: 'Trebuchet MS',Helvetica,sans-serif;
    font-size: 12px;
    height: 20px;
    text-transform: uppercase;
}

.tags {
    background: none;
    float: right;
}

#yarpp {
	border-bottom: 1px dotted #F8EAD6;
	padding-bottom: 10px;
	margin: 35px 0;
}

#yarpp ul {
	margin-left: 30px;
	color: #543407;
}
